<i class="fa fa-close"></i>
<li class="load-image-button">Load Image</li>
<li class="image-transparency">
  <div class="slider">
  </div>
</li>
<li>
  <%= colorPicker %>
</li>
<li class="subtle-patterns">
  <ul>
  </ul>
</li>
<li class="tile-mode">Background Image Mode:
  <%= imageMode %>
</li>
