<i class="fa fa-close"></i>
<li class="style-button">Style</li>
<li class="color-button">Color</li>
<li class='button-text'>
  Button Text:
  <input type="text" value="<%= this.model.get('content').replace(/<.*?>/g,'') %>">
</li>
<li class='target-button'>Link Target</li>
<%= commonButtons %>

<%= styleMenu %>
<%= colorPicker %>
