<div>
  <i class="main-icon fa fa-file-text-o"></i> <label>Edit&nbsp;Site</label>
</div>
<i class="fa fa-close"></i>
<ul>
  <li class="click-to-edit site-title">
    <label>Name:
      <span><%= site.escape('title') %></span>
    </label>
    <i class="fa fa-pencil"></i>
  </li>
  <li class="click-to-edit site-address">
    <label>Address: <br>
      clixr.io/
      <span><%= site.escape('published_address') %></span>
    </label>
    <i class="fa fa-pencil"></i>
  </li>
  <li class="background-button">
    <i class="fa fa-square"></i>
    <label>Background</label>
  </li>
  <div class="pages-list">
    <label class='pages-label'>Pages</label>
    <ul class='page-reorder'>
    </ul>
  </div>
  <li class='add-page'>
    <i class="fa fa-plus"></i>
    <label>add a page</label>
  </li>
  <li class='page-transition'>
    <i class="fa fa-arrows-h"></i>
    <label>Page Transition: <span><%= site.escape('transition') %></span></label>
  </li>
</ul>

<!-- do css::after for home icon -->
