<span class="page-identifier">Page:</span> <span class="current-page-name"><%= currentPage.escape('title') %></span>
<ul>
  <% pages.forEach(function(page, index) { %>
    <li><%= page.escape('title') %></li>
  <% }) %>
</ul>
