$select-color: #7effeb;
$handle-bg-color: white;

.ui-widget-content .ui-icon {
	background-image: none;
}

.drag-handle {
	z-index: 1000;
	height: 9px;
	width: 9px;
	border-radius: 9px;
	border: 1px solid $select-color;
	background-color: $handle-bg-color;
}

.text-content {
	width: 100%;
	position: absolute;
	height: 100%;
}

.text-element {
	padding: 0;
}

*:focus {
	outline: 0;
}

#wysihtml5-toolbar {
	box-shadow: $basic-shadow;
	background-color: white;
	position: fixed;
	padding: 30px 30px;
}
