
body {
	text-transform: uppercase;
	letter-spacing: 2px;
	color: $app-text-color;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ui-widget-content .ui-icon {
	background-image: none;
}

.ui-widget-content {
	background-image: none;
}

.drag-handle {
	z-index: 5000;
	height: 9px;
	width: 9px;
	border-radius: 9px;
	border: 1px solid $select-color;
	background-color: $handle-bg-color;
}

.text-content {
	width: 100%;
	position: absolute;
	height: 100%;
}

.text-element {
	padding: 0;
}

*:focus {
	outline: 0;
}




.edit-menu {
	@include basic-window;
	padding: 15px;
	width: 165px;

	font-size: 14px;

	input {
		margin: 6px 0 3px;
		width: 96%;
	}

	.color-picker {
		left: -200px;
		top: 5px;
	}

	.style-menu {
		left: -120px;
		top: 130px;
		width: 80px;
	}

	.fa-close {
		position: absolute;
		top: 4px;
		right: 6px;
	}

  li {
		padding: 5px 0;
		border-top: 1px solid $border-grey ;

		&:first-of-type {
			border-top: none;
		}

		&:hover {
			color: $hover-select-color;
		}

		&.button-text {
			cursor: default;

			&:hover {
				background-color: inherit;
			}

			input {
				cursor: text;
				color: $user-text-grey;
			}
		}
	}

	.overlapping-items {

		> li {
			padding: 10px 0;
			width: 190px;

			> div, i, img, ul {
				float: left;
				margin: 0 3px;
			}

			> ul > li {
				margin: 0;
				padding: 0;
				border: none;
			}

			.fa-bars {
				float: right;
			}
		}

	}
}

#wysihtml5-toolbar {
	@include basic-window;
	font-size: 20px;
	margin: 30px;
	padding: 7px;

	> ul {
		padding: 0;
		margin: 0;

		> li {
			float: left;
		}

	}

	li {
		padding: 5px;
		// box-shadow: 2px 2px 3px #818181;
		margin: 3px;

		&:hover {
			// background-color: $lightish-blue;
			color: $hover-select-color;
		}
	}


	.size-slider {
		left: 364px;
		top: 46px;
    width: 10px;
    height: 115px;
    padding: 0 5px;
		background-image: none;

		> div {
			background-color: #aaa;

			width: 80%;
			margin: 5px auto;
			height: 90%;

			> div {
				background-color: transparent;
				background-image: none;
				border: none;
				height: 90%;
			}
		}
	}

	.font-menu {
		right: -215px;
		top: -30px;
		width: 150px;
		ul {
			padding: 0;
			margin: 0;
		}


		li {
			display: block;
		}
	}
}

.modals {
	position: fixed;
	width: 100vw;
	height: 1px;
}

.image-modal {
	@include basic-window;
	position: relative;
	width: 40%;
	min-width: 200px;
	height: 200px;
	margin: 100px auto 0;
}

.link-targets {
	@include basic-window;
	padding: 15px;
	width: 190px;
	word-wrap: break-word;

	.target-name-header {
		font-weight: bold;
	}

	li:first-of-type {
		border-top: 1px solid $border-grey;
		margin-top: 8px;
	}

	.target-name {
		color: $user-text-grey;
	}
}

input[type=text] {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #ccc;

	&:focus {
	  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	  border: 1px solid rgba(81, 203, 238, 1);

		&.input-bad {
			box-shadow: 0 0 5px $focus-bad;
			border: 1px solid $focus-bad;
		}
	}
}
