$select-color: #7effeb;
$handle-bg-color: white;
$lightish-blue: #ddf;

.ui-widget-content .ui-icon {
	background-image: none;
}

.ui-widget-content {
	background-image: none;
}

.drag-handle {
	z-index: 5000;
	height: 9px;
	width: 9px;
	border-radius: 9px;
	border: 1px solid $select-color;
	background-color: $handle-bg-color;
}

.text-content {
	width: 100%;
	position: absolute;
	height: 100%;
}

.text-element {
	padding: 0;
}

*:focus {
	outline: 0;
}

@mixin basic-window {
	transition: opacity 200ms;
	opacity: 0;
	z-index: 5000;
	position: fixed;
	background-color: white;
	border-radius: 10px;
	margin: 30px;
	cursor: pointer;
	background-clip: border-box;
	box-shadow: $basic-shadow;

	a {
		width: 100%
	}

	> div {
		opacity: 0;
		display: none;
		z-index: 10000;
		position: absolute;
		background-color: white;
		border-radius: 10px;
		margin: 30px;
		padding: 7px;
		cursor: pointer;
		background-clip: border-box;
		box-shadow: $basic-shadow;
		transition: opacity 200ms;
	}

	.slider span {
		background-color: $border-grey;
		border-radius: 12px;
		// border: 2px solid #88b;
		left: -4px;
		width: 14px;
		height: 14px;
		box-shadow: 1px 1px 2px #333;
		background-image: none;
		background-color:black;
		background: rgba(98,112,105,1);
		background: -moz-linear-gradient(-45deg, rgba(98,112,105,1) 0%, rgba(98,112,105,1) 16%, rgba(0,0,0,1) 100%);
		background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(98,112,105,1)), color-stop(16%, rgba(98,112,105,1)), color-stop(100%, rgba(0,0,0,1)));
		background: -webkit-linear-gradient(-45deg, rgba(98,112,105,1) 0%, rgba(98,112,105,1) 16%, rgba(0,0,0,1) 100%);
		background: -o-linear-gradient(-45deg, rgba(98,112,105,1) 0%, rgba(98,112,105,1) 16%, rgba(0,0,0,1) 100%);
		background: -ms-linear-gradient(-45deg, rgba(98,112,105,1) 0%, rgba(98,112,105,1) 16%, rgba(0,0,0,1) 100%);
		background: linear-gradient(135deg, rgba(98,112,105,1) 0%, rgba(98,112,105,1) 16%, rgba(0,0,0,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627069', endColorstr='#000000', GradientType=1 );
	}

	.color-picker {
		width: 120px;
		padding: 5px;
		left: -55px;
		top: 43px;

		span {
			top: -3px;
		}

		> div {
			border-radius: 4px;
		}

		.slider {
			margin: 14px 2px 14px 12px;
			height: 10px;
			border: none;
			background-color: transparent;
		}

		.red {
			background: rgba(0,0,0,1);
			background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(240,0,0,1) 100%);
			background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(240,0,0,1)));
			background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(240,0,0,1) 100%);
			background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(240,0,0,1) 100%);
			background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(240,0,0,1) 100%);
			background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(240,0,0,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#f00000', GradientType=1 );
		}

		.green {
			background: rgba(0,0,0,1);
			background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,212,0,1) 100%);
			background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(0,212,0,1)));
			background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,212,0,1) 100%);
			background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,212,0,1) 100%);
			background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,212,0,1) 100%);
			background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,212,0,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00d400', GradientType=1 );
		}

		.blue {
			background: rgba(0,0,0,1);
			background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,212,1) 100%);
			background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,212,1)));
			background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,212,1) 100%);
			background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,212,1) 100%);
			background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,212,1) 100%);
			background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,212,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#0000d4', GradientType=1 );
		}

		* {
			z-index: 5001;
		}
	}

}

.edit-menu {
	@include basic-window;
	padding: 15px;
	width: 165px;

	input {
		margin: 6px 0 3px;
		width: 96%;
	}

	.color-picker {
		left: -200px;
		top: 5px;
	}

	.style-menu {
		left: -120px;
		top: 130px;
		width: 50px;
	}

	.fa-close {
		position: absolute;
		top: 4px;
		right: 6px;
	}

  li {
		padding: 5px 0;
		border-top: 1px solid $border-grey ;

		&:first-of-type {
			border-top: none;
		}

		&:hover {
			background-color: $menu-select;
		}

		&.button-text:hover {
			background-color: inherit;
		}
	}

	.overlapping-items {

		li {
			padding: 10px 0;
			width: 160px;

			> div, i {
				float: left;
				margin: 0 5px;
			}
		}

	}
}

#wysihtml5-toolbar {
	@include basic-window;
	font-size: 20px;
	margin: 30px;
	padding: 7px;

	> ul {
		padding: 0;
		margin: 0;

		> li {
			float: left;
		}

	}

	li {
		padding: 5px;
		box-shadow: 2px 2px 3px #818181;
		margin: 3px;

		&:hover {
			background-color: $lightish-blue;
		}
	}


	.size-slider {
		left: 364px;
		top: 46px;
    width: 10px;
    height: 115px;
    padding: 0 5px;
		background-image: none;

		> div {
			background-color: #aaa;

			width: 80%;
			margin: 5px auto;
			height: 90%;

			> div {
				background-color: transparent;
				background-image: none;
				border: none;
				height: 90%;
			}
		}
	}

	.font-menu {
		right: -215px;
		top: -30px;
		width: 150px;
		ul {
			padding: 0;
			margin: 0;
		}


		li {
			display: block;
		}
	}
}

.modals {
	position: fixed;
	width: 100vw;
	height: 1px;
}

.image-modal {
	@include basic-window;
	position: relative;
	width: 40%;
	min-width: 200px;
	height: 200px;
	margin: 100px auto 0;
}
