$select-color: #7effeb;
$handle-bg-color: white;

.ui-widget-content .ui-icon {
	background-image: none;
}

.drag-handle {
	z-index: 1000;
	height: 9px;
	width: 9px;
	border-radius: 9px;
	border: 1px solid $select-color;
	background-color: $handle-bg-color;
}

.text-content {
	width: 100%;
	position: absolute;
	height: 100%;
}

.text-element {
	padding: 0;
}

*:focus {
	outline: 0;
}

#wysihtml5-toolbar {
	z-index: 5000;
	position: fixed;
	background-color: white;
	border-radius: 10px;
	margin: 30px;
	padding: 7px;
	cursor: pointer;
	background-clip: border-box;
	box-shadow: $basic-shadow;
	font-size: 20px;

	.foreground-dropdown {
		z-index: 5001;
	}

	> ul {
		padding: 0;
		margin: 0;

		> li {
			float: left;
		}

	}

	li {
		padding: 5px;
		box-shadow: 2px 2px 3px #aaa;
		margin: 3px;
		transition: background-color 100ms;

		&:hover {
			background-color: #ddf;
		}
	}

	> div {
		opacity: 0;
		display: none;
		z-index: 5000;
		position: absolute;
		background-color: white;
		border-radius: 10px;
		margin: 30px;
		padding: 7px;
		cursor: pointer;
		background-clip: border-box;
		box-shadow: $basic-shadow;
		transition: opacity 200ms;
	}

	.font-menu {
		right: -215px;
		top: -30px;
		width: 150px;
		ul {
			padding: 0;
			margin: 0;
		}

		.size-slider {
	    -webkit-appearance: slider-vertical; /* WebKit */
	    width: 8px;
	    height: 175px;
	    padding: 0 5px;
		}

		li {
			display: block;
		}
	}
}
