// Place all the styles related to the sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$navbar-color: #7E6E7E;
$logo-color: #fff;
$basic-shadow: 2px 2px 7px #333;
$border-grey: #ddd;
$menu-select: #e9e9e9;
$gridline-color: green;
$site-border-radius: 4px;
$window-background: #e6e4e5;


body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  // background: url("http://www.beingdevelopers.com/wp-content/uploads/2014/04/html-background-1716x700_c.jpg");
  background-size: cover;
  list-style-type: none;
}

.logo {
  float: left;
  font-family: 'Signika', sans-serif;
  font-size: 30px;
  margin: 3px 33px;
  color: $logo-color;
}

@mixin navbar-button {
  padding: 4px 7px 3px 8px;
  background-color: $window-background;
  border-radius: $site-border-radius;
  cursor: pointer;
}

.main-navbar {
  background-color: $navbar-color;
  position: fixed;
  width: 100%;
  box-shadow: $basic-shadow;
  z-index: 10001;

  a {
    @include navbar-button;
    float: right;
    margin: 7px 80px 0 0;

    &:first-of-type {
      margin-right: 140px;
    }
  }
}

.function-buttons {
  position: fixed;
  z-index: 10000;
  top: 60px;
  left: 10px;
  > div {
    position: relative;
    width: 50px;
    max-height: 50px;
    background-color: $window-background;
    border-radius: 4px;
    margin: 30px;
    padding: 5px;
    cursor: pointer;
    background-clip: border-box;
    box-shadow: $basic-shadow;
    transition-property: width height background-color;
    transition-duration: 300ms;
    font-size: 30px;
    overflow: hidden;

    .main-icon {
      transition: opacity 300ms;
      transition-delay: 300ms;
      position: relative;
      font-size: 50px;
      margin: 0 0 4px 3px;
    }

    i {
      font-size: 20px;

      &.fa-image {
        margin-left: -1px
      }
    }

    label {
      position: absolute;
      left: 32px;
      opacity: 0;
      transition-property: opacity, left;
      transition-duration: 300ms, 300ms;
      transition-delay: 0, 300ms;
      margin: 15px 15px 5px 15px;
    }

    > div > label {
      left: 46px;
      margin-top: 8px;
    }

    &:hover {
      width: 140px;

      label {
        opacity: 1;
      }
    }

    .fa-close {
      display: none;
    }

    // ul {
    //   display: none;
    // }

    ul {
      margin: -1px 0 5px 0;
      padding: 0px;
      display: block;
    }

    li {
      display: block;
      padding: 0 9px;

      &:first-child {
        border-top: 1px solid $border-grey;
        padding-top: 3px
      }

      i {
        margin-top: 8px;
        margin-bottom: 8px;
      }

      label {
        margin-top: 11px;
        margin-bottom: px;
        font-size: 15px;
      }

      &:hover {
        color: #aaa;
      }
    }

    &.expanded-menu {
      width: 211px;
      max-height: 350px;

      .main-icon {
        opacity: 0;
        transition-delay: 100ms;
      }

      .fa-close {
        position: absolute;
        display: block;
        top: 7px;
        right: 7px;
        font-size: 20px;
        opacity: 1;
      }

      label {
        opacity: 1;
      }

      > div > label {
        left: 2px;
        transition-delay: 0, 400ms;
      }
    }
  }

}

nav {
  margin: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.user-page-container {
  position: fixed;
  min-height: 100vh;
  width: 100%;
}

.user-page {
  margin: 0 auto;
  width: 980px;
  height: 100vh;
  position: relative;
}

.user-page-gridlines {
  border-style: dotted;
  border-width: 2px;
  border-color: transparent $gridline-color;
  height: 100vh;
  width: 100%;
  z-index: 10000;
  position: absolute;
}


.page-select {
  @include navbar-button;
  transition-property: max-height box-shadow opacity;
  transition-timing-function: easeInOutSine;
  transition-duration: 300ms;
  transition-timing: ease;
  background-clip: border-box;
  position: fixed;
  max-height: 20px;
  left: 187px;
  top: 6px;
  overflow: hidden;

  &.expanded-menu {
    box-shadow: $basic-shadow;
    max-height: 400px;
  }

  hr {
    height: 0px;
    color: $border-grey;
    background-color: $border-grey;
    margin: 6px 0;
  }

  ul {
    margin: 4px 0;
    padding: 0 5px;
  }

  li {
		padding: 5px 0;
    font-size: 0.8em;

		&:first-of-type {
  		border-top: 1px solid $border-grey ;
		}

		&:hover {
			background-color: $menu-select;
		}
  }
}
