// Place all the styles related to the sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$navbar-color: #77597f;
$logo-color: #fff;
$basic-shadow: 2px 2px 5px #333;
$border-grey: #999;
$menu-select: #ccc;
$gridline-color: green;


body {
  font-family: sans-serif;
  background: url("http://www.beingdevelopers.com/wp-content/uploads/2014/04/html-background-1716x700_c.jpg");
  background-size: cover;
  list-style-type: none;
}

.logo {
  float: left;
  font-family: 'Signika', sans-serif;
  font-size: 30px;
  margin: 3px 33px;
  color: $logo-color;
}

.main-navbar {
  background-color: $navbar-color;
  position: fixed;
  width: 100%;
  box-shadow: $basic-shadow;
  z-index: 1000000;
}

.function-buttons {
  position: fixed;
  z-index: 1000000;
  top: 60px;
  left: 10px;
  > div {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    margin: 30px;
    padding: 10px;
    cursor: pointer;
    background-clip: border-box;
    box-shadow: $basic-shadow;
    transition-property: width height background-color;
    transition-duration: 150ms;
    font-size: 30px;
    overflow: hidden;

    .main-icon {
      float:left;
      font-size: 50px;
      margin: 2px;
    }

    .fa-file {
      font-size: 45px;
      margin: 3px;
    }

    label {
      position: absolute;
      opacity: 0;
      transition: opacity 300ms;
      margin: 15px;
    }

    &:hover {
      width: 140px;

      label {
        opacity: 1;
      }
    }

    .fa-close {
      display: none;
    }

    ul {
      display: none;
    }

    &.expanded-menu {
      width: 200px;
      height: 296px;
      padding-bottom: 20px;

      .fa-close {
        position: absolute;
        display: block;
        top: 7px;
        left: 191px;
        font-size: 20px;
        opacity: 1;
      }

      label {
        opacity: 1;
      }

      ul {
        margin-top: 58px;
        padding: 0px 10px;
        display: block;
      }

      li {
        display: block;
        font-size: 25px;
        border-top: 1px solid $border-grey;

        i {
          margin-top: 8px;
          margin-bottom: 8px;
        }

        label {
          margin-top: 11px;
          margin-bottom: px;
          font-size: 20px;
        }

        &:hover {
          background-color: $menu-select;
        }
      }
    }
  }

}

nav {
  margin: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.user-page-container {
  height: 100vh;
}

.user-page {
  margin: 0 auto;
  width: 980px;
  height: 100vh;
  position: relative;
}

.user-page-gridlines {
  border-style: dotted;
  border-width: 2px;
  border-color: transparent $gridline-color;
  height: 100vh;
  width: 100%;
  z-index: 100000;
}
