// Place all the styles related to the sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$navbar-color: #77597f;
$logo-color: #fff;
$basic-shadow: 2px 2px 5px #333;

body {
  font-family: sans-serif;
  background: url("http://www.beingdevelopers.com/wp-content/uploads/2014/04/html-background-1716x700_c.jpg");
  background-size: cover;
}

.logo {
  float: left;
  font-family: 'Signika', sans-serif;
  font-size: 30px;
  margin: 15px 20px;
  color: $logo-color;
}

.main-navbar {
  background-color: $navbar-color;
  position: fixed;
  width: 100%;
  box-shadow: $basic-shadow;
}

.function-buttons {
  position: fixed;
  z-index: 1000000;
  top: 60px;
  left: 10px;
  div {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    margin: 30px;
    padding: 10px;
    cursor: pointer;
    background-clip: border-box;
    box-shadow: $basic-shadow;
    transition: width 150ms;
    font-size: 30px;
    overflow: hidden;

    i {
      float:left;
      font-size: 50px;
      margin: 2px;
    }

    .fa-file {
      font-size: 45px;
      margin: 3px;
    }

    label {
      position: absolute;
      opacity: 0;
      transition: opacity 250ms;
      margin: 15px;
    }

    &:hover {
      width: 140px;

      label {
        opacity: 1;
      }
    }
  }
}

nav {
  margin: 0;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
