// Place all the styles related to the sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$navbar-color: #7E6E7E;
$logo-color: #fff;
$basic-shadow: 2px 2px 7px #333;
$border-grey: #ddd;
$menu-select: #e9e9e9;
$gridline-color: green;
$site-border-radius: 4px;
$window-background: #f9f9f9;
$select-color: #7effeb;
$handle-bg-color: white;
$lightish-blue: #ddf;
$user-text-grey: #444;
$app-text-color: #505050;
$hover-select-color: #aaaaaa;
$focus-good: #322fa1;
$focus-bad: #cf383a;


body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  // background: url("http://www.beingdevelopers.com/wp-content/uploads/2014/04/html-background-1716x700_c.jpg");
  background-size: cover;
  list-style-type: none;
}

.logo {
  float: left;
  font-family: 'Signika', sans-serif;
  font-size: 30px;
  margin: 3px 33px;
  color: $logo-color;
}

@mixin navbar-button {
  padding: 4px 7px 3px 8px;
  background-color: $window-background;
  border-radius: $site-border-radius;
  cursor: pointer;
}

@mixin basic-window {
	transition: opacity 200ms;
	opacity: 0;
	z-index: 5000;
	position: fixed;
	background-color: $window-background;
	border-radius: $site-border-radius;
	margin: 30px;
	cursor: pointer;
	background-clip: border-box;
	box-shadow: $basic-shadow;

	a {
		width: 100%
	}

	> div {
		opacity: 0;
		display: none;
		z-index: 10000;
		position: absolute;
		background-color: $window-background;
		border-radius: $site-border-radius;
		margin: 30px;
		padding: 7px;
		cursor: pointer;
		background-clip: border-box;
		box-shadow: $basic-shadow;
		transition: opacity 200ms;
	}

	.slider span {
		background-color: $border-grey;
		border-radius: 12px;
		// border: 2px solid #88b;
		left: -4px;
		width: 14px;
		height: 14px;
		box-shadow: 1px 1px 2px #333;
		background-image: none;
		background-color:black;
		background: rgba(98,112,105,1);
		background: -moz-linear-gradient(-45deg, rgba(98,112,105,1) 0%, rgba(98,112,105,1) 16%, rgba(0,0,0,1) 100%);
		background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(98,112,105,1)), color-stop(16%, rgba(98,112,105,1)), color-stop(100%, rgba(0,0,0,1)));
		background: -webkit-linear-gradient(-45deg, rgba(98,112,105,1) 0%, rgba(98,112,105,1) 16%, rgba(0,0,0,1) 100%);
		background: -o-linear-gradient(-45deg, rgba(98,112,105,1) 0%, rgba(98,112,105,1) 16%, rgba(0,0,0,1) 100%);
		background: -ms-linear-gradient(-45deg, rgba(98,112,105,1) 0%, rgba(98,112,105,1) 16%, rgba(0,0,0,1) 100%);
		background: linear-gradient(135deg, rgba(98,112,105,1) 0%, rgba(98,112,105,1) 16%, rgba(0,0,0,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627069', endColorstr='#000000', GradientType=1 );
	}

	.color-picker {
		width: 120px;
		padding: 5px;
		left: -55px;
		top: 43px;

		span {
			top: -3px;
		}

		> div {
			border-radius: 4px;
		}

		.slider {
			margin: 14px 2px 14px 12px;
			height: 10px;
			border: none;
			background-color: transparent;
		}

		.red {
			background: rgba(0,0,0,1);
			background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(240,0,0,1) 100%);
			background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(240,0,0,1)));
			background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(240,0,0,1) 100%);
			background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(240,0,0,1) 100%);
			background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(240,0,0,1) 100%);
			background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(240,0,0,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#f00000', GradientType=1 );
		}

		.green {
			background: rgba(0,0,0,1);
			background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,212,0,1) 100%);
			background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(0,212,0,1)));
			background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,212,0,1) 100%);
			background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,212,0,1) 100%);
			background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,212,0,1) 100%);
			background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,212,0,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00d400', GradientType=1 );
		}

		.blue {
			background: rgba(0,0,0,1);
			background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,212,1) 100%);
			background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,212,1)));
			background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,212,1) 100%);
			background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,212,1) 100%);
			background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,212,1) 100%);
			background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,212,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#0000d4', GradientType=1 );
		}

		* {
			z-index: 5001;
		}
	}

}

.site-background-menu {
  @include basic-window;
  left: 700px;
  top: 100px;
  width: 180px;
  padding: 5px 5px 15px 5px;
  font-size: 13px;
  transition: height 300ms;

  .image-transparency {
    margin: 27px auto 0 auto;
    width: 90px;

    .slider {
      background-color: transparent;
      margin: 0 0 0 10px;
    }

    border-radius: $site-border-radius;

    background: rgba(245,242,245,1);
    background: -moz-linear-gradient(left, rgba(245,242,245,1) 0%, rgba(41,41,41,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(245,242,245,1)), color-stop(100%, rgba(41,41,41,1)));
    background: -webkit-linear-gradient(left, rgba(245,242,245,1) 0%, rgba(41,41,41,1) 100%);
    background: -o-linear-gradient(left, rgba(245,242,245,1) 0%, rgba(41,41,41,1) 100%);
    background: -ms-linear-gradient(left, rgba(245,242,245,1) 0%, rgba(41,41,41,1) 100%);
    background: linear-gradient(to right, rgba(245,242,245,1) 0%, rgba(41,41,41,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f2f5', endColorstr='#292929', GradientType=1 );
  }

  .color-picker {
    margin: 0 auto;
    padding-left: 0;

    .slider {
      margin-left: 0px;
    }
  }

  > li {
    margin: 9px 0 0 14px;

    &:nth-child(3) {
      margin-top: 0;
      padding-left: 8px;
    }

    padding: 0 15px;

    &:hover {
      color: $hover-select-color;

      &.tile-size div {
        background-color: $hover-select-color;
      }
    }
  }

  .fa-close {
    right: 5px;
    top: 5px;
    position: absolute;
  }

  .slider {
    margin: 14px 2px 14px 12px;
    height: 10px;
    border: none;
  }

  .tile-size div {
    background-color: $app-text-color;
    width: 121px;
    margin: 14px 2px 10px 0;
  }

  .subtle-patterns {
    margin: 0 14px;
    border: 1px solid $border-grey;
  }

  ul {
    padding: 0;
    overflow-y: scroll;
    height: 100px;

    .subtle-pattern-item {
      padding: 15px;
      width: 50px;
      height: 50px;
      overflow: hidden;
      margin: 0px auto;
    }

  }




}


.main-navbar {
  background-color: $navbar-color;
  position: fixed;
  width: 100%;
  box-shadow: $basic-shadow;
  z-index: 10001;

  a {
    @include navbar-button;
    float: right;
    margin: 7px 80px 0 0;

    &:first-of-type {
      margin-right: 140px;
    }
  }
}

.clearfix:after {
  display: table;
  content: "";
  clear: both;
}



.function-buttons {
  position: fixed;
  z-index: 10000;
  top: 60px;
  left: 10px;
  > div {
    position: relative;
    width: 50px;
    max-height: 50px;
    background-color: $window-background;
    border-radius: 4px;
    margin: 30px;
    padding: 5px;
    cursor: pointer;
    background-clip: border-box;
    box-shadow: $basic-shadow;
    transition-property: width, max-height, background-color;
    transition-duration: 300ms, 600ms, 300ms;
    font-size: 30px;
    overflow: hidden;

    .main-icon {
      transition: opacity 300ms;
      transition-delay: 300ms;
      -webkit-transition-delay: 300ms;
      position: relative;
      font-size: 50px;
      margin: 0 0 4px 3px;
    }

    i {
      font-size: 20px;

      &.fa-image {
        margin-left: -1px
      }
    }

    label {
      position: absolute;
      left: 32px;
      opacity: 0;
      transition-property: opacity, left;
      transition-duration: 300ms, 300ms;
      transition-delay: 0ms, 300ms;
      -webkit-transition-delay: 0ms, 300ms;
      margin: 15px 15px 5px 15px;
    }

    > div > label {
      left: 46px;
      margin-top: 8px;
    }

    &:hover {

      &.edit-site-button {
        width: 220px;
      }

      &.add-element-button {
        width: 140px;
      }

      label {
        opacity: 1;
      }
    }

    .fa-close {
      display: none;
    }

    // ul {
    //   display: none;
    // }

    ul {
      margin: -1px 0 5px 0;
      padding: 0px;
      display: block;
    }

    li {
      display: block;
      padding: 0 9px;

      &:first-child {
        border-top: 1px solid $border-grey;
        padding-top: 3px
      }

      i {
        margin-top: 8px;
        margin-bottom: 8px;
      }

      label {
        margin-top: 11px;
        margin-bottom: 5px;
        font-size: 15px;
      }

      &:hover {
        color: #aaa;
      }
    }


    &.expanded-menu {

      &.add-element-button {
        width: 211px;
      }

      &.edit-site-button {
        width: 250px;
      }

      .page-transition {
        margin-bottom: 13px;
      }

      max-height: 900px;

      .main-icon {
        opacity: 0;
        transition-delay: 100ms;
        -webkit-transition-delay: 100ms;
      }

      .fa-close {
        position: absolute;
        display: block;
        top: 7px;
        right: 7px;
        font-size: 20px;
        opacity: 1;
      }

      label {
        opacity: 1;
      }

      > div > label {
        left: 2px;
        transition-delay: 0, 400ms;
        -webkit-transition-delay: 0, 400ms;
      }
    }

    &.edit-site-button {

      i {
        display: initial;
      }

      .fa-close {
        position: absolute;
        left: 233px;
        top: 7px;
      }

      .fa-bars {
        position: absolute;
        left: 223px;
      }

      > ul > li {
        position: initial;

        .fa-pencil {
          float: left;
          position: static;
          margin: 0;
        }
      }

      input {
        margin-top: -5px;
        margin-bottom: -10px;
        font-size: 15px;
      }

      > ul {
        padding-right: 2px;
      }

      .pages-label {
        font-size: 10px;
        font-weight: bold;
        margin-top: -7px;
        margin-left: 70px;
      }

      i.fa-pencil, i.fa-trash, {
        opacity: 0;
      }

      .site-title, .site-address {

        padding-left: 0;
        margin: 7px 0 7px 9px;

        label {
          float: left;
          margin: 0 0 0 14px;
          position: static
        }
      }



      .background-button {
        border-bottom: 1px solid $border-grey;
        margin-top: 3px;
        i {
          float: left;
          margin: 3px 0 3px 0;
        }

        label {
          margin-top: 3px;
        }
      }

      .pages-list {
        margin-top: 10px;

        ul {
          border: none;
        }
      }

      li {
        padding-right: 2px;

        &:hover {
          i.fa-pencil, i.fa-trash {
            opacity: 1
          }

          // i.fa-bars {
          //   color: $app-text-color;
          // }

          .pages-label {
            color: $app-text-color;
          }
        }
      }

      .add-page {
        border-top: 1px solid $border-grey;
        margin-top: 16px;
      }

      ul > div > ul > li {
        padding: 0;
        height: 32px;

        span {
          margin-left: 4px;
        }

        i {
          margin: 14px 0 0 9px;
        }

        &:first-child {
          margin-top: 10px;
          border: none;
        }
      }


      i.fa-bars {
        float: right;
        margin-left: 9px;
      }

      i.fa-trash {
        float: right;
        margin: 0 25px -2px 0;
        padding-top: 13px;
      }

      input {
        width: 121px;

        &:nth-child(2) {
          width: 100px;
        }
      }

      span {
        font-size: 15px;
      }
    }
  }
}

nav {
  margin: 0;
}


.user-page-container {
  position: fixed;
  min-height: 100vh;
  width: 100%;
}

.user-page {
  margin: 0 auto;
  width: 980px;
  height: 100vh;
  position: relative;
}

.user-page-gridlines {
  border-style: dotted;
  border-width: 2px;
  border-color: transparent $gridline-color;
  height: 100vh;
  width: 100%;
  z-index: 10000;
  position: absolute;
}


.page-select {
  @include navbar-button;
  transition-property: max-height box-shadow opacity;
  transition-timing-function: easeInOutSine;
  transition-duration: 300ms;
  transition-timing: ease;
  background-clip: border-box;
  position: fixed;
  max-height: 20px;
  left: 187px;
  top: 6px;
  overflow: hidden;

  &.expanded-menu {
    box-shadow: $basic-shadow;
    max-height: 400px;
  }

  hr {
    height: 0px;
    color: $border-grey;
    background-color: $border-grey;
    margin: 6px 0;
  }

  ul {
    margin: 4px 0;
    padding: 0 5px;
  }

  li {
		padding: 5px 0;
    font-size: 0.8em;

		&:first-of-type {
  		border-top: 1px solid $border-grey ;
		}

		&:hover {
			background-color: $menu-select;
		}
  }
}
