.selected-element {
  border: 1px solid $select-color;
  cursor: move;
}

.user-page-elements {
  display: none;

  &.current {
    display: block;
  }
}

.bring-to-front {
  z-index: 10000 !important;
}

.user-page {

}

.text-content {
  overflow: hidden;
}

.include-user-fonts {
  font-family: 'Anton', sans-serif;
  p {
    margin: 0;
  }

  h1 {
    margin: 0;
  }

  h2 {
    margin: 0;
  }

  h3 {
    margin: 0;
  }

  h4 {
    margin: 0;
  }

  h5 {
    margin: 0;
  }

  h6 {
    margin: 0;
  }
}

.user-menu-style-1 {
  background-color: transparent;
  text-align: justify;
  padding: 0;

  li {
    display: inline-block;
    text-align: center;
  }

  &:after {
    content: '';
    width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
    display: inline-block;
  }
}

.user-div-style-1 {

}

.user-div-style-2 {
  border-radius: 15px;

  &.element-icon {
    border-radius: 3px
  }
}

.user-div-style-3 {
  border-radius: 25px;
  opacity: .75;

  &.element-icon {
    border-radius: 5px
  }
}
