.selected-element {
  border: 1px solid $select-color;
	z-index: 5000;
}

.user-page {

}

.include-user-fonts {
  font-family: 'Anton', sans-serif;
  p {
    margin: 0;
  }

  h1 {
    margin: 0;
  }

  h2 {
    margin: 0;
  }

  h3 {
    margin: 0;
  }

  h4 {
    margin: 0;
  }

  h5 {
    margin: 0;
  }

  h6 {
    margin: 0;
  }

}
