.selected-element {
  border: 1px solid $select-color;
  cursor: move;
}

.image-cover {
  background-color: white;
  z-index: 1;
  transition: opacity 500ms;
  width: 100vw;
  height: 100vh;
  position: fixed;
  opacity: 0;
}

.user-element {
  transition: opacity 600ms ease;
  position: absolute;
}

.user-site-elements {
}

.user-site {
  @include static-background;
}

.user-background-image {
  display: none;
}

.user-page-elements {
  display: none;
  transition-property: -webkit-filter, opacity;
  transition-duration: 400ms, 600ms;

  &.current {
    display: block;
  }
}

.bring-to-front {
  z-index: 10000 !important;
}

.text-content {
  overflow: hidden;
}

.include-user-fonts {
  text-transform: none;

  p {
    margin: 0;
    font-size: inherit;
    font-family: 'Anton', sans-serif;
  }

  h1 {
    margin: 0;
    font-size: inherit;
    font-family: 'Lato', sans-serif;
  }

  h2 {
    margin: 0;
    font-size: inherit;
    font-family: 'Arvo', serif;
  }

  h3 {
    margin: 0;
    font-size: inherit;
    font-family: 'Lora', serif;
  }

  h4 {
    margin: 0;
    font-size: inherit;
    font-family: 'Oxygen', sans-serif;
  }

  h5 {
    margin: 0;
    font-size: inherit;
    font-family: 'Roboto', sans-serif;
  }

  h6 {
    margin: 0;
    font-size: inherit;
    font-family: 'Slabo 27px', serif;
  }
}



.user-div-style-1 {

}

.user-div-style-2 {
  border-radius: 15px;

  &.element-icon {
    border-radius: 3px
  }
}

.user-div-style-3 {
  border-radius: 25px;
  opacity: .6;

  &.element-icon {
    border-radius: 5px
  }
}

.user-div-style-4 {
  border-radius: 10px 0 10px 0;

  &.element-icon {
    border-radius: 3px 0 3px 0;
  }
}

.user-div-style-5 {
  border-radius: 0 15px 0 15px;

  &.element-icon {
    border-radius: 0 3px 0 3px;
  }
}

@mixin user-menu {
  background-color: transparent;
  text-align: justify;
  padding: 0;

  li {
    display: inline-block;
    text-align: center;
  }

  &:after {
    content: '';
    width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
    display: inline-block;
  }
}

.user-menu-style-1 {
  @include user-menu;
  font-family: 'Lato', sans-serif;
  font-size: 23px;
}

.user-menu-style-2 {
  @include user-menu;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}

.user-menu-style-3 {
  @include user-menu;
  font-family: 'Oxygen', sans-serif;
  font-size: 27px;
}

.user-menu-style-4 {
  @include user-menu;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  color: white;
}

.user-button-style-1 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  border-radius: 25px;
  padding: 10px;

  a {
    margin: 0 auto;
  }

  &.element-icon {
    padding: 0;
  }
}

.user-button-style-2 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 10px;

  a {
    margin: 0 auto;
  }
}
