<nav class="main-navbar clearfix">
  <div class="logo">
    clixr.io
  </div>
  <a href="/<%= this.model.get('published_address') %>" target="_blank" class="site-view">View</a>
</nav>

<div class="function-buttons">
</div>

<div class="floating-menus">
</div>



<div class="user-site include-user-fonts">
  <div class="image-cover">
  </div>
  <div class="user-page-gridlines">
  </div>
  <div class="user-page-container">
    <div class="user-page">
      <% this.model.pages().forEach(function(page, i) { %>
        <div class="user-page-elements <%= i === 0 ? 'current' : '' %>" data-page-id=<%= page.id %>>
        </div>
      <% }) %>
      <div class="user-site-elements">
      </div>
    </div>
  </div>
</div>




<img class="user-background-image"/>
