<nav class="main-navbar clearfix">
  <div class="logo">
    clixr.io
  </div>

</nav>

<div class="function-buttons">
</div>

<div class="floating-menus">
</div>

<div class="user-page-container">

  <div class="user-site include-user-fonts">
    <img class="user-background-image" src="<%= site.escape('background_url') %>" alt=""
      style="z-index:-1; position: fixed; width: 100vw; height: 100vh;"/>
    <div class="user-page-gridlines">
      <div class="user-page">
      </div>
    </div>
  </div>
</div>

<div class="modals">

</div>
