<nav class="main-navbar clearfix">
  <div class="logo">
    clixr.io
  </div>

</nav>

<div class="function-buttons">
  <div>
    <i class="fa fa-file"></i> <label>Page</label>
  </div>
  <div>
    <i class="fa fa-plus-circle"></i> <label>Add</label>
  </div>
</div>

<div class="user-page">
</div>
