<div class="content">

</div>

<%= javascript_include_tag 'editor' %>
<%= cloudinary_js_config %>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>

<script>
  $(document).ready(function(){
    var contentDiv = $('.content')
    ClixrIo.initialize(contentDiv, <%= @site.id %>);
  });
</script>
