
<i class="fa fa-close"></i>
<% menuItems.forEach(function(menuItem) { %>
  <li class="<%= menuItem.func %>-button">
    <i class="fa fa-<%= menuItem.glyph %>"></i><label><%= menuItem.name %></label>
  </li>
<% }) %>
