<i class="fa fa-close"></i>
<li class="style-button">Style</li>
<li class='button-text'>
  Button Text:
  <input type="text" value="<%= this.model.get('content').replace(/<.*?>/g,'') %>">
</li>
<li class="overlapping-button">Overlapping Items</li>
<li class="site-page-toggle">Put On Every Page
  <% if (global) { %>
    <i class="fa fa-check-square-o"></i>
  <% } else { %>
    <i class="fa fa-square-o"></i>
  <% } %>
</li>
<li class="delete-button">Delete</li>

<%= styleMenu %>
