<div class="color-picker">
  <div class="red">
    <div class="slider">
    </div>
  </div>
  <div class="green">
    <div class="slider">
    </div>
  </div>
  <div class="blue">
    <div class="slider">
    </div>
  </div>
</div>
