<li><a href="#" class="style-button">Style</a></li>
<li><a href="#" class="color-button">Color</a></li>
<li><a href="#" class="overlapping-button">Overlapping Items</a></li>
<li><a href="#" class="site-page-toggle">Put On Every Page</a></li>
<li><a href="#" class="delete-button">Delete</a></li>

<%= styleMenu %>
<%= colorPicker %>
<%= overlappingItems %>
