<li class="style-button">Style</li>
<li class="color-button">Color</li>
<li class="overlapping-button">Overlapping Items</li>
<li class="site-page-toggle">Put On Every Page</li>
<li class="delete-button">Delete</li>

<%= styleMenu %>
<%= colorPicker %>
