<li class="external-url-button">External URL:
<input type="text"></li>
<li class="email-link-button">Email:
<input type="text"></li>
<% pages.forEach(function(page) { %>
  <li class="page-link-button"><%= page.escape('title') %></li>
<% }) %>
