<% items.each(function (item) { %>
  <li class="clearfix">
    <%= item.view.icon(15) %>
    <div>
      <%= item.get('type') %>
        <% if (item.view.$('.text-content').length) { %>
          <%= ": " + item.view.$('.text-content').html().replace(/<.*?>/g, "").slice(0, 13) %>
        <% } %>
    </div>
  </li>
<% }) %>
