<!DOCTYPE html>
<html>
<head>
  <title>clixr.io</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Exo|Signika:700,400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montserrat+Alternates' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>
  <img src="http://www.beingdevelopers.com/wp-content/uploads/2014/04/html-background-1716x700_c.jpg" alt=""
    style="z-index:-1; position: fixed; width: 100vw; height: 100vh;"/>
  <%= yield %>
</body>
</html>
